
header {
    overflow: auto;
    background-color: #ffffff;
    border: solid;
    border-width: 1px;
    border-color: #cccccc;
    
    
}


h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    display: inline;
}

li {
    display: inline;
    
}

.menu {
    list-style-type: none;
    float: right;
    width: 20%;
}

#about {
    border: solid;
    border-width: 3px;
    border-color: #cccccc;
    margin-top: 40px;
}

p {
    float: right;
    width: 80%;
}


#index, #portfolio {
    border-right: 1px solid #cccccc;
    margin-left: 2px;
    padding: 5px;
}

a:link {
    text-decoration: none;
    text-align: center;
}
