header {
    background-color: #ffffff;
    border: solid;
    border-width: 1px;
    border-color: #cccccc
}

h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    float: left;
    
}

.menu {
    list-style-type: none;
    float: right;
    
}

li {
    display: inline;
    
}

#index, #portfolio {
    border-right: 1px solid #cccccc;
    margin-left: 2px;
    padding: 5px;
}

a:link {
    text-decoration: none;
    text-align: center;
}
